Repository calimero-network/mero-js: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": [
    "prettier --write",
    "eslint --fix"
  ],
  "*.json": [
    "prettier --write"
  ],
  "*.md": [
    "prettier --write"
  ],
  "*.{yml,yaml}": [
    "prettier --write"
  ],
  "*.{css,scss,html}": [
    "prettier --write"
  ]
}

test: verify pre-commit hook with lint-staged
  test-pre-commit.js
Due: prettier --write, eslint --fix

feat: complete lint-staged implementation with proper configuration
  .husky/pre-commit
  .lintstagedrc.json
Due: prettier --write

fix: improve .gitignore to properly exclude all node_modules and build outputs
  .gitignore
  packages/mero-js/node_modules/.bin/esbuild
  packages/mero-js/node_modules/.bin/eslint
  packages/mero-js/node_modules/.bin/rimraf
  packages/mero-js/node_modules/.bin/tsc
  packages/mero-js/node_modules/.bin/tsserver
  packages/mero-js/node_modules/@types/node
  packages/mero-js/node_modules/@typescript-eslint/eslint-plugin
  packages/mero-js/node_modules/@typescript-eslint/parser
  packages/mero-js/node_modules/esbuild
  packages/mero-js/node_modules/eslint
  packages/mero-js/node_modules/rimraf
  packages/mero-js/node_modules/typescript
Due: none

fix: improve .gitignore to properly exclude all node_modules and build outputs
  .gitignore
Due: none

feat: improve project configuration and package scaffold
  .github/workflows/ci.yml
  .husky/commit-msg
  .husky/pre-commit
  .lintstagedrc.json
  package.json
  packages/mero-js/package.json
  packages/mero-js/tsconfig.json
Due: prettier --write

style: fix formatting issues in generated files
  .lintstagedrc.js
Due: prettier --write, eslint --fix

fix: update legacy package fields to use dist/ directory
  packages/mero-js/package.json
Due: prettier --write

fix: update lint-staged patterns to use recursive globs
  .lintstagedrc.js
Due: prettier --write, eslint --fix

docs: update README to reflect dist/ build output
  README.md
Due: prettier --write

feat: add source maps to all build outputs
  packages/mero-js/package.json
Due: prettier --write

fix: HTTP client improvements and token refresh queueing
  packages/mero-js/src/http/retry.ts
  packages/mero-js/src/http/types.ts
  packages/mero-js/src/http/web-client.test.ts
  packages/mero-js/src/http/web-client.ts
  packages/mero-js/src/types/api-response.ts
Due: prettier --write, eslint --fix

style: fix prettier formatting
  packages/mero-js/src/http/retry.ts
  packages/mero-js/src/http/web-client.test.ts
  packages/mero-js/src/http/web-client.ts
Due: prettier --write, eslint --fix

fix: resolve ESLint errors and configure lint-staged properly
  .lintstagedrc.js
  package.json
  packages/mero-js/src/http/web-client.test.ts
  packages/mero-js/src/http/web-client.ts
Due: prettier --write, eslint --fix

feat: add comprehensive retry and HTTP client tests
  packages/mero-js/src/http/retry.test.ts
  packages/mero-js/src/http/retry.ts
  packages/mero-js/src/http/web-client.test.ts
  packages/mero-js/src/http/web-client.ts
Due: prettier --write, eslint --fix

fix: remove unused mockFn variable in retry test
  packages/mero-js/src/http/retry.test.ts
Due: prettier --write, eslint --fix

fix: comprehensive HTTP client improvements (#3)
  .lintstagedrc.js
  package.json
  packages/mero-js/src/http/retry.test.ts
  packages/mero-js/src/http/retry.ts
  packages/mero-js/src/http/types.ts
  packages/mero-js/src/http/web-client.test.ts
  packages/mero-js/src/http/web-client.ts
  packages/mero-js/src/types/api-response.ts
Due: prettier --write, eslint --fix

chore: stop tracking node_modules
  .gitignore
Due: none

chore: add ref parameter to the checkout action
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
Due: prettier --write

style: fix prettier formatting
  packages/mero-js/README.md
  packages/mero-js/src/http/factory.ts
  packages/mero-js/src/http/retry.test.ts
  packages/mero-js/src/http/retry.ts
  packages/mero-js/src/http/types.ts
  packages/mero-js/src/http/web-client.test.ts
  packages/mero-js/src/http/web-client.ts
Due: prettier --write, eslint --fix

refactor: make HTTPError shape explicit in code
  packages/mero-js/src/http/web-client.ts
Due: prettier --write, eslint --fix

feat: ensure blob parsing is fully supported and tested
  packages/mero-js/README.md
  packages/mero-js/src/http/web-client.test.ts
Due: prettier --write, eslint --fix

refactor: add helper for Headers to Record conversion and verify HEAD method
  packages/mero-js/src/http/web-client.ts
Due: prettier --write, eslint --fix

feat: implement proper header merge and FormData content-type handling
  packages/mero-js/src/http/web-client.test.ts
  packages/mero-js/src/http/web-client.ts
Due: prettier --write, eslint --fix

docs: clarify FormData Content-Type is set by browser/undici
  packages/mero-js/README.md
Due: prettier --write

feat: implement HTTP API semantics with throwing error model (#4)
  packages/mero-js/README.md
  packages/mero-js/src/http/factory.ts
  packages/mero-js/src/http/retry.test.ts
  packages/mero-js/src/http/retry.ts
  packages/mero-js/src/http/types.ts
  packages/mero-js/src/http/web-client.test.ts
  packages/mero-js/src/http/web-client.ts
Due: prettier --write, eslint --fix

feat: extract HTTP client to separate package
  .gitignore
  packages/http-client/.eslintrc.cjs
  packages/http-client/README.md
  packages/http-client/package.json
  packages/http-client/src/factory.ts
  packages/http-client/src/index.ts
  packages/http-client/src/retry.test.ts
  packages/http-client/src/retry.ts
  packages/http-client/src/signal-utils.ts
  packages/http-client/src/types.ts
  packages/http-client/src/types/api-response.ts
  packages/http-client/src/types/index.ts
  packages/http-client/src/web-client.test.ts
  packages/http-client/src/web-client.ts
  packages/http-client/tsconfig.json
  packages/mero-js/src/index.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

feat: add merobox integration for e2e testing
  .merobox/workflows/smoke-auth.yml
  bin/merobox.cjs
  package.json
  scripts/install-merobox.mjs
  scripts/run-e2e.mjs
Due: prettier --write

fix: resolve all linting issues
  package.json
  packages/http-client/src/retry.test.ts
  packages/http-client/src/retry.ts
  packages/http-client/src/signal-utils.ts
  packages/http-client/src/types.ts
  packages/http-client/src/web-client.test.ts
  packages/http-client/src/web-client.ts
Due: prettier --write, eslint --fix

fix: resolve TypeScript error in retry function
  packages/http-client/src/retry.ts
Due: prettier --write, eslint --fix

fix: resolve __dirname issue in ES module
  scripts/install-merobox.mjs
Due: none

fix: build http-client before mero-js to resolve dependency
  package.json
Due: prettier --write
