Repository calimero-network/mero-js: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "packages/**/*.{ts,tsx,js,jsx}": ["prettier --write", "eslint --fix"],
  "examples/**/*.{ts,tsx,js,jsx}": ["prettier --write"],
  "*.{ts,tsx,js,jsx}": ["prettier --write"],
  "*.json": ["prettier --write"],
  "*.md": ["prettier --write"],
  "*.{yml,yaml}": ["prettier --write"],
  "*.{css,scss,html}": ["prettier --write"]
}

fix: apply prettier formatting to dist files after build
  .merobox/.venv/bin/Activate.ps1
  .merobox/.venv/bin/activate
  .merobox/.venv/bin/activate.csh
  .merobox/.venv/bin/activate.fish
  .merobox/.venv/bin/base58
  .merobox/.venv/bin/markdown-it
  .merobox/.venv/bin/merobox
  .merobox/.venv/bin/normalizer
  .merobox/.venv/bin/pip
  .merobox/.venv/bin/pip3
  .merobox/.venv/bin/pip3.11
  .merobox/.venv/bin/pygmentize
  .merobox/.venv/bin/python
  .merobox/.venv/bin/python3
  .merobox/.venv/bin/python3.11
  .merobox/.venv/bin/websockets
  .merobox/.venv/pyvenv.cfg
Due: none

fix: prevent prettier from running on dist files
  .prettierignore
  packages/http-client/package.json
  packages/mero-js/package.json
Due: prettier --write

fix: make merobox installation optional in CI environments
  scripts/install-merobox.mjs
Due: none

fix: resolve CI issues and improve code quality (#5)
  .merobox/.venv/bin/Activate.ps1
  .merobox/.venv/bin/activate
  .merobox/.venv/bin/activate.csh
  .merobox/.venv/bin/activate.fish
  .merobox/.venv/bin/base58
  .merobox/.venv/bin/markdown-it
  .merobox/.venv/bin/merobox
  .merobox/.venv/bin/normalizer
  .merobox/.venv/bin/pip
  .merobox/.venv/bin/pip3
  .merobox/.venv/bin/pip3.11
  .merobox/.venv/bin/pygmentize
  .merobox/.venv/bin/python
  .merobox/.venv/bin/python3
  .merobox/.venv/bin/python3.11
  .merobox/.venv/bin/websockets
  .merobox/.venv/pyvenv.cfg
  .prettierignore
  package.json
  packages/http-client/package.json
  packages/http-client/src/retry.test.ts
  packages/http-client/src/retry.ts
  packages/http-client/src/signal-utils.ts
  packages/http-client/src/types.ts
  packages/http-client/src/web-client.test.ts
  packages/http-client/src/web-client.ts
  packages/mero-js/package.json
  scripts/install-merobox.mjs
Due: prettier --write, eslint --fix

fix: remove merobox virtual environment files from repository
  .gitignore
  .merobox/.venv/bin/Activate.ps1
  .merobox/.venv/bin/activate
  .merobox/.venv/bin/activate.csh
  .merobox/.venv/bin/activate.fish
  .merobox/.venv/bin/base58
  .merobox/.venv/bin/markdown-it
  .merobox/.venv/bin/merobox
  .merobox/.venv/bin/normalizer
  .merobox/.venv/bin/pip
  .merobox/.venv/bin/pip3
  .merobox/.venv/bin/pip3.11
  .merobox/.venv/bin/pygmentize
  .merobox/.venv/bin/python
  .merobox/.venv/bin/python3
  .merobox/.venv/bin/python3.11
  .merobox/.venv/bin/websockets
  .merobox/.venv/pyvenv.cfg
Due: none

feat: restructure mero-js package with proper folder organization
  .merobox/workflows/smoke-auth.yml
  bin/merobox.cjs
  package.json
  packages/http-client/.eslintrc.cjs
  packages/http-client/README.md
  packages/http-client/package.json
  packages/http-client/src/retry.test.ts
  packages/http-client/src/types/index.ts
  packages/http-client/src/web-client.test.ts
  packages/http-client/src/web-client.ts
  packages/http-client/tsconfig.json
  packages/mero-js/package.json
  packages/mero-js/src/admin-api/admin-client.ts
  packages/mero-js/src/admin-api/admin-factory.ts
  packages/mero-js/src/admin-api/admin-types.ts
  packages/mero-js/src/admin-api/index.ts
  packages/mero-js/src/auth-api/auth-client.ts
  packages/mero-js/src/auth-api/auth-factory.ts
  packages/mero-js/src/auth-api/auth-types.ts
  packages/mero-js/src/auth-api/index.ts
  packages/mero-js/src/http-client/api-response.ts
  packages/mero-js/src/http-client/http-factory.ts
  packages/mero-js/src/http-client/http-types.ts
  packages/mero-js/src/http-client/index.ts
  packages/mero-js/src/http-client/retry.ts
  packages/mero-js/src/http-client/signal-utils.ts
  packages/mero-js/src/http-client/web-client.ts
  packages/mero-js/src/index.ts
  packages/mero-js/tests/e2e/auth-api.test.ts
  packages/mero-js/vitest.e2e.config.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

style: fix prettier formatting and remove old packages
  packages/mero-js/src/auth-api/auth-client.ts
  packages/mero-js/src/http-client.ts
Due: prettier --write, eslint --fix

feat: simplify merobox installation and update CI workflow
  .github/workflows/ci.yml
  packages/mero-js/src/http-client.ts
  scripts/install-merobox.mjs
Due: prettier --write, eslint --fix

fix: update lockfile and fix pipx command
  pnpm-lock.yaml
  scripts/install-merobox.mjs
Due: prettier --write

feat: exclude e2e tests from pre-push hooks
  .husky/pre-push
Due: none

fix: optimize CI workflow to avoid duplicate merobox installation
  .github/workflows/ci.yml
Due: prettier --write

feat: auth api (#6)
  .github/workflows/ci.yml
  .husky/pre-push
  .merobox/workflows/smoke-auth.yml
  bin/merobox.cjs
  package.json
  packages/http-client/.eslintrc.cjs
  packages/http-client/README.md
  packages/http-client/package.json
  packages/http-client/src/retry.test.ts
  packages/http-client/src/types/index.ts
  packages/http-client/src/web-client.test.ts
  packages/http-client/src/web-client.ts
  packages/http-client/tsconfig.json
  packages/mero-js/package.json
  packages/mero-js/src/admin-api/admin-client.ts
  packages/mero-js/src/admin-api/admin-factory.ts
  packages/mero-js/src/admin-api/admin-types.ts
  packages/mero-js/src/admin-api/index.ts
  packages/mero-js/src/auth-api/auth-client.ts
  packages/mero-js/src/auth-api/auth-factory.ts
  packages/mero-js/src/auth-api/auth-types.ts
  packages/mero-js/src/auth-api/index.ts
  packages/mero-js/src/http-client/api-response.ts
  packages/mero-js/src/http-client/http-factory.ts
  packages/mero-js/src/http-client/http-types.ts
  packages/mero-js/src/http-client/index.ts
  packages/mero-js/src/http-client/retry.ts
  packages/mero-js/src/http-client/signal-utils.ts
  packages/mero-js/src/http-client/web-client.ts
  packages/mero-js/src/index.ts
  packages/mero-js/tests/e2e/auth-api.test.ts
  packages/mero-js/vitest.e2e.config.ts
  pnpm-lock.yaml
  scripts/install-merobox.mjs
Due: prettier --write, eslint --fix

feat: implement comprehensive admin e2e tests with proper flow
  packages/mero-js/package.json
  packages/mero-js/src/admin-api/admin-client.test.ts
  packages/mero-js/src/admin-api/admin-factory.test.ts
  packages/mero-js/src/index.ts
  packages/mero-js/src/mero-js.test.ts
  packages/mero-js/src/mero-js.ts
  packages/mero-js/tests/e2e/admin-api.test.ts
  packages/mero-js/tests/e2e/assets/kv_store.wasm
  packages/mero-js/tests/e2e/auth-api.test.ts
Due: prettier --write, eslint --fix

fix: add prettier ignore for dist files
  .prettierignore
Due: none

Potential fix for code scanning alert no. 10: Unused variable, import, function or class
  packages/mero-js/src/admin-api/admin-factory.test.ts
Due: prettier --write, eslint --fix

feat: complete admin e2e tests (#7)
  .prettierignore
  packages/mero-js/package.json
  packages/mero-js/src/admin-api/admin-client.test.ts
  packages/mero-js/src/admin-api/admin-factory.test.ts
  packages/mero-js/src/index.ts
  packages/mero-js/src/mero-js.test.ts
  packages/mero-js/src/mero-js.ts
  packages/mero-js/tests/e2e/admin-api.test.ts
  packages/mero-js/tests/e2e/assets/kv_store.wasm
  packages/mero-js/tests/e2e/auth-api.test.ts
Due: prettier --write, eslint --fix

feat: implement token storage system with multiple implementations
  package.json
  packages/mero-js/.prettierignore
  packages/mero-js/src/index.ts
  packages/mero-js/src/mero-js.test.ts
  packages/mero-js/src/mero-js.ts
  packages/mero-js/src/token-storage/factory.test.ts
  packages/mero-js/src/token-storage/factory.ts
  packages/mero-js/src/token-storage/file-storage.test.ts
  packages/mero-js/src/token-storage/file-storage.ts
  packages/mero-js/src/token-storage/in-memory-storage.test.ts
  packages/mero-js/src/token-storage/in-memory-storage.ts
  packages/mero-js/src/token-storage/index.ts
  packages/mero-js/src/token-storage/local-storage.test.ts
  packages/mero-js/src/token-storage/local-storage.ts
  packages/mero-js/src/token-storage/types.ts
  scripts/run-e2e.mjs
Due: prettier --write, eslint --fix

fix: resolve circular dependency and fix tests
  examples/universal-example/index.js
  examples/universal-example/package.json
Due: prettier --write

Fix node example and build system
  examples/node-example/index.js
  packages/mero-js/package.json
  packages/mero-js/src/auth-api/auth-client.ts
  packages/mero-js/src/mero-js.test.ts
  packages/mero-js/src/mero-js.ts
  packages/mero-js/tests/e2e/admin-api.test.ts
  packages/mero-js/tests/e2e/auth-api.test.ts
  packages/mero-js/tsconfig.json
Due: prettier --write, eslint --fix

Fix formatting issues
  packages/mero-js/src/mero-js.test.ts
  packages/mero-js/src/mero-js.ts
Due: prettier --write, eslint --fix

feat: complete monorepo migration with package hygiene improvements
  package.json
  packages/mero-adapter-browser/package.json
  packages/mero-adapter-browser/tsconfig.json
  packages/mero-adapter-node/package.json
  packages/mero-adapter-node/tsconfig.json
  packages/mero-core/package.json
  packages/mero-core/tsconfig.json
  packages/mero-js/package.json
  packages/mero-sdk/package.json
  packages/mero-sdk/tsconfig.json
  pnpm-lock.yaml
  tsconfig.base.json
Due: prettier --write

chore(m1): finalize hygiene — tighten publish surface, add project refs & CI
  .github/workflows/ci.yml
  README.md
  packages/mero-js/package.json
  packages/mero-sdk/tsconfig.json
  tsconfig.build.json
Due: prettier --write

fix: add CI concurrency guard and clarify SDK platform requirements
  .github/workflows/ci.yml
  packages/mero-sdk/tsconfig.json
Due: prettier --write

feat: add conditional exports with pre-wired platform entries
  README.md
  examples/typecheck-browser/index.js
  examples/typecheck-browser/index.ts
  examples/typecheck-browser/package.json
  examples/typecheck-browser/tsconfig.json
  examples/typecheck-node/index.ts
  examples/typecheck-node/package.json
  examples/typecheck-node/tsconfig.json
  package.json
  packages/mero-adapter-browser/src/factory.ts
  packages/mero-adapter-browser/src/index.ts
  packages/mero-adapter-node/src/factory.ts
  packages/mero-adapter-node/src/index.ts
  packages/mero-adapter-node/src/node-client.ts
  packages/mero-core/src/core-factory.ts
  packages/mero-core/src/index.ts
  packages/mero-sdk/package.json
  packages/mero-sdk/src/http-factory.ts
  packages/mero-sdk/src/index.node.ts
  packages/mero-sdk/src/index.ts
  packages/mero-sdk/src/index.universal.ts
  packages/mero-sdk/src/mero-js.ts
  packages/mero-sdk/tsconfig.browser.json
  packages/mero-sdk/tsconfig.node.json
  packages/mero-sdk/tsconfig.universal.json
Due: prettier --write, eslint --fix

refactor: drop generic sdk; add @mero/browser facade and update docs
  README.md
  examples/typecheck-browser/index.ts
  examples/typecheck-browser/package.json
  examples/typecheck-node/index.ts
  examples/typecheck-node/package.json
  packages/mero-browser/package.json
  packages/mero-browser/src/index.ts
  packages/mero-browser/tsconfig.json
  packages/mero-js/package.json
  packages/mero-js/src/index.ts
  packages/mero-sdk/.eslintrc.json
  packages/mero-sdk/package.json
  packages/mero-sdk/src/index.browser.ts
  packages/mero-sdk/src/index.node.ts
  packages/mero-sdk/src/index.ts
  packages/mero-sdk/src/index.universal.ts
  packages/mero-sdk/tsconfig.browser.json
  packages/mero-sdk/tsconfig.json
  packages/mero-sdk/tsconfig.node.json
  packages/mero-sdk/tsconfig.universal.json
  pnpm-lock.yaml
  tsconfig.build.json
Due: prettier --write, eslint --fix

fix: resolve workspace dependency issues and complete browser facade
  packages/mero-browser/src/index.ts
Due: prettier --write, eslint --fix

chore(examples): convert examples/browser-example to Vite playground
  README.md
  examples/browser-example/.eslintrc.json
  examples/browser-example/index.html
  examples/browser-example/index.js
  examples/browser-example/package.json
  examples/browser-example/src/main.ts
  examples/browser-example/tsconfig.json
  examples/browser-example/vite.config.ts
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat(examples): create real Calimero node test app
  examples/browser-example/index.html
  examples/browser-example/package.json
  examples/browser-example/src/main.ts
  pnpm-lock.yaml
Due: prettier --write

feat(examples): add interactive e2e test replication
  examples/browser-example/index.html
  examples/browser-example/src/main.ts
Due: prettier --write

fix(browser): add missing SDK methods and fix token storage
  examples/browser-example/src/main.ts
  packages/mero-browser/src/index.ts
Due: prettier --write, eslint --fix

fix(api): update endpoints to match admin API swagger
  examples/browser-example/index.html
  examples/browser-example/src/main.ts
  examples/browser-example/vite.config.ts
  packages/mero-adapter-browser/src/factory.ts
  packages/mero-adapter-browser/src/index.ts
  packages/mero-adapter-browser/src/web-client.ts
  packages/mero-adapter-browser/tsconfig.json
  packages/mero-browser/src/index.ts
  packages/mero-core/src/admin-api/admin-client.ts
Due: prettier --write, eslint --fix

feat(admin-api): implement comprehensive admin API endpoints
  examples/browser-example/index.html
  examples/browser-example/src/main.ts
  packages/mero-core/src/admin-api/admin-client.ts
Due: prettier --write, eslint --fix

feat(browser-test): add application and context management tests
  examples/browser-example/index.html
  examples/browser-example/src/main.ts
Due: prettier --write

feat(browser-test): add WASM file upload and dev application install
  examples/browser-example/index.html
  examples/browser-example/src/main.ts
Due: prettier --write

fix(admin-api): correct alias endpoints to use nested structure
  examples/browser-example/index.html
  examples/browser-example/src/main.ts
  packages/mero-core/src/admin-api/admin-client.ts
Due: prettier --write, eslint --fix

fix: add semantic-release plugins as dev dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix: use pnpm exec for semantic-release in CI
  .github/workflows/release.yml
Due: prettier --write
